<div class="p-5 text-center" *ngIf="isQuestionEmpty()">
  <h1 class="mb-3">No Pending Question(s) at this time</h1>
  <!-- <a class="btn btn-primary buttonBGcolor" routerLink="/create_question" role="button">Add a question here!</a> -->
</div>
<div class="tablecontainer" *ngIf="!isQuestionEmpty()">
  <div class="row">
    <div class="col-12">
      <!-- <p class="h1" >No Pending Question</p> -->
      <table class="table table-bordered" >
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Image</th>
            <th scope="col">Topic</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Created By</th>
            <th scope="col">Date</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let question of questions">
            <!-- <ng-container *ngIf="question.status === 'false'"> -->
            <td class="tdPadding">{{question.id}}</td>
            <td class="tdPadding">
              <img [src]="question.image_src" alt="No Image" height="100px" width="200px">
            </td>
            <td class="tdPadding">{{question.topic}}</td>
            <td class="tdPadding">{{question.title}}</td>
            <td class="tdPadding">{{question.description_question}}</td>
            <td class="tdPadding">{{question.qcreated_by}}</td>
            <td class="tdPadding">{{question.datetime}}</td>
            <td>
              <button type="button" (click)="approveQuestion(question, question.id)"
                class="btn btn-success pendingButton">Approve</button>
              <button type="button" (click)="removeQuestion(question.id)"
                class="btn btn-danger pendingButton">Remove</button>
            </td>
            <!-- </ng-container> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>