<div class="tablecontainer">
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Image</th>
            <th scope="col">Topic</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Created By</th>
            <th scope="col">Date Time</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="tdPadding">1</td>
            <td class="tdPadding">Server</td>
            <td class="tdPadding">what is window server?</td>
            <td class="tdPadding">Server</td>
            <td class="tdPadding">Server</td>
            <td class="tdPadding">Server</td>
            <td class="tdPadding">Server</td>
            <td>
              <button type="button" class="btn btn-success pendingButton">Approve</button>
              <button type="button" class="btn btn-danger pendingButton">Remove</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>