<div class="p-5 text-center" *ngIf="isAnswersEmpty()">
  <h1 class="mb-3">No Pending Answer(s) at this time</h1>
  <!-- <a class="btn btn-primary buttonBGcolor" routerLink="/create_question" role="button">Add a question here!</a> -->
</div>
<div class="tablecontainer" *ngIf="!isAnswersEmpty()">
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Description</th>
            <th scope="col">Created By</th>
            <th scope="col">Date Time</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let answer of answers">
            <td class="tdPadding">{{answer.id}}</td>
            <td class="tdPadding">{{answer.description_answer}}</td>
            <td class="tdPadding">{{answer.created_by}}</td>
            <td class="tdPadding">{{answer.datetime}}</td>
            <td>
              <button type="button" (click)="approveAnswer(answer, answer.id)" class="btn btn-success pendingButton">Approve</button>
              <button type="button" (click)="removeAnswer(answer.id)" class="btn btn-danger pendingButton">Remove</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>