<div class="tablecontainer">
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Description</th>
            <th scope="col">Created By</th>
            <th scope="col">Date Time</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="tdPadding">1</td>
            <td class="tdPadding">DNS stands for Domain Name System, and so it refers to the telephone directory on the internet</td>
            <td class="tdPadding">vaishu</td>
            <td class="tdPadding">12/29/2022<br>10:11:15 AM</td>
            <td>
              <button type="button" class="btn btn-success pendingButton">Approve</button>
              <button type="button" class="btn btn-danger pendingButton">Remove</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>