<div class="container">
  <div class="card" id="createdQuestion">

    <div class="card-header">Created Question</div>
    <div class="card-body">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th scope="col">id</th>
            <td class="tdPadding">{{question.id}}</td>
          </tr>
          <tr>
            <th scope="col">Title</th>
            <td class="tdPadding">{{question.title}}</td>
          </tr>
          <tr>
            <th scope="col">Topic</th>
            <td class="tdPadding">{{question.topic}}</td>
          </tr>

          <tr>
            <th scope="col">Description</th>
            <td class="tdPadding">{{question.description_question}}</td>
          </tr>
          <tr>
            <th class="spacing" scope="col"></th>
            <td class="tdPadding spacing"></td>
          </tr>
        </tbody>
      </table>
    </div> 
    <ng-container *ngIf="question.image_src">
    <img [src]="question.image_src" alt="" height="300px" width="300px">
    <!-- <div class="text-center mt-3">
      <button id="downloadButton" type="submit" class="btn btn-lg btn-primary buttonBGcolor">Click to download</button>
    </div> -->
    </ng-container>
  </div>

  <div class="card" id="createAnswer">
    <div class="card-header">Create Answer</div>
    <div class="card-body">
      <form [formGroup]="answerForm" (ngSubmit)="onSubmit()">
        <!--Description_Answer -->
        <div class="mb-3">
          <textarea id="textarea" class="form-control form-control-lg" type="text-area" formControlName="description_answer" placeholder="Enter Description" [ngClass]="{ 'is-invalid': submitted && f['description_answer'].errors }" rows="11"></textarea>
          <div *ngIf="submitted && f['description_answer'].errors" class="invalid-feedback">
            <div *ngIf="f['description_answer'].errors['required']">Description is required</div>
          </div>
        </div>
        <!--Image-->
        <div class="mb-3">
          <label class="form-label" for="customFile">Select an image</label>
          <input type="file" class="form-control" 
          accept="image/*" (change)="onFileSelected($event)"
          id="customFile" formControlName="image"  />
          <!-- <div class="mb-3">
            <label class="form-label" for="customFile">Select an image</label>
            <input type="file" accept="image/*" (change)="onFileSelected($event)" class="form-control" 
            id="customFile" formControlName="image" 
            
            /> -->

          <!-- 
            [ngClass]="{ 'is-invalid': submitted && f['image'].errors }"
            <div *ngIf="submitted && f['image'].errors" class="invalid-feedback">
            <div *ngIf="f['image'].errors['required']">Image is required</div>
          </div> -->
        </div>

        <!--Submit-->
        <div class="text-center mt-3">
          <button id="submitbutton" type="submit" class="btn btn-lg btn-primary buttonBGcolor">Submit</button>
        </div>
      </form>
    </div>
  </div>

</div>
