<main class="d-flex w-100">
  <div class="container d-flex flex-column">
    <div class="row vh-100">
      <div class="col-sm-10 col-md-8 col-lg-8 mx-auto d-table h-100">
        <div class="d-table-cell align-middle">

          <div class="text-center mt-4">
            <h1 class="h2">Something went wrong! </h1>
            <p class="lead">
              Please Await Further Services.
            </p>
            <img src="https://gifdb.com/images/high/awkward-oops-kung-fu-panda-hrl5ly1qrqxkk785.gif">
          </div>





        </div>
      </div>
    </div>

  </div>

</main>
