<div class="container">
  <h2>Create a new question</h2>
</div>


<main class="d-flex w-100">
  <div class="container d-flex flex-column">
    <div class="row vh-150">
      <div class="col-sm-10 col-md-8 col-lg-10 mx-auto d-table h-100">
        <div class="d-table-cell align-middle">
          <div class="card">
            <div class="card-body">
              <div class="m-sm-4">
                <form [formGroup]="questionForm" (ngSubmit)="onSubmit()">
                  <!-- Title -->
                  <div class="mb-3">
                    <label class="form-label">Title</label>
                    <input class="form-control form-control-lg" formControlName='title' placeholder=" Enter Title" [ngClass]="{ 'is-invalid': created && f['title'].errors }" />
                    <div *ngIf="created && f['title'].errors" class="invalid-feedback">
                      <div *ngIf="f['title'].errors['required']">Title is required
                      </div>
                    </div>
                  </div>

                  <!--Topic-->
                  <div class="mb-3">
                    <label class="form-label">Topic</label>
                    <select class="form-control form-control-lg" placeholder="Choose topic" formControlName="topic" [ngClass]="{ 'is-invalid': created && f['topic'].errors }">
                      <option selected value="null">Select a topic</option>
                      <option value="volvo">Volvo</option>
                    </select>
                    <div *ngIf="created && f['topic'].errors" class="invalid-feedback">
                      <div *ngIf="f['topic'].errors['required']">Topic is required</div>
                    </div>
                  </div>


                  <!-- Description -->
                  <div class="mb-3">
                    <textarea id="textarea" class="form-control form-control-lg" type="text-area" formControlName="description" placeholder="Enter Description" [ngClass]="{ 'is-invalid': created && f['description'].errors }"></textarea>
                    <div *ngIf="created && f['description'].errors" class="invalid-feedback">
                      <div *ngIf="f['description'].errors['required']">Description is required</div>
                    </div>
                  </div>
                  <!-- Image -->
                  <div class="mb-3">
                    <label class="form-label" for="customFile">Select an image</label>
                    <input type="file" class="form-control" id="customFile" formControlName="image" [ngClass]="{ 'is-invalid': created && f['image'].errors }" />
                    <div *ngIf="created && f['image'].errors" class="invalid-feedback">
                      <div *ngIf="f['image'].errors['required']">Image is required</div>
                    </div>
                  </div>

                  <div class="text-center mt-3">
                    <button type="submit" id="signinbutton" class="btn btn-lg btn-primary">Create</button>
                  </div>
                </form>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</main>
