.container {
  margin-top: 50px;
}

h2 {
  background-color: black;
  color: white;
  text-align: center;
  margin: auto;
  height: 100px;
  padding: 30px;

  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}



#textarea {
  resize: none;
}

.msgBubble {
  background-color: rgb(24, 82, 105);
  color: white;
  border-radius: 20px;
  padding-left: 20px;
}

.messageDiv1 {
  float: left;
  width: 45%;
  margin-top: 50px;
  padding-right: 40px;
}

.messageDiv2 {
  float: right;
  width: 45%;
  margin-top: 50px;
  padding-left: 40px;
}


#bottom {

  float: bottom;
}

#right {

  margin-left: 75px;
}

.messageDiv1 h3 {

  text-align: center;
  margin-bottom: 30px;
}

.messageDiv2 h3 {

  text-align: center;
  margin-bottom: 30px;
}
