<div class="container">
  <div class="card">
    <div class="card-header">Answer</div>
    <div class="card-body">
      <p>This is a program</p>
      <p>Created by: Priya at 12:00 AM </p>
      <p>Approved By Admin</p>
    </div>
    <img src="http://dummyimage.com/100x115.png/5fa2dd/ffffff" alt="image" width="300" height="300">
    <div class="text-center mt-3">
      <button id="downloadButton" type="submit" class="btn btn-lg btn-primary buttonBGcolor">Click to download</button>
    </div>
  </div>
</div>