.spacer{
    flex: 1 1 auto;
}

/* Navbar styling */
.mat-primary{
    background-color: #552583;
}

/* Button styling */
.mat-primary .mat-success{
    background-color: #FDB927;
    color:black;
}

