<mat-toolbar color="primary">
  <span routerLink="/home">DoConnect</span>

  <div class="spacer"></div>
  <a *ngIf="isAdmin()" mat-raised-button routerLink="/dashboard" id="signup" color="success">Dashboard</a>
  <a *ngIf="isAdmin()" mat-raised-button routerLink="/pending_question" id="signup" color="success">Pending Question</a>
  <a *ngIf="isAdmin()" mat-raised-button routerLink="/pending_answer" id="signup" color="success">Pending Answer</a>
  <button *ngIf="isAdmin()" mat-raised-button id="signup" (click)="logOut()" color="success">Sign Out</button>
  <a *ngIf="isAdmin()" mat-raised-button routerLink="/home" id="home" color="success">{{storageService.getUser().username}}</a>

  <a *ngIf="isUser()" mat-raised-button routerLink="/create_question" id="signup" color="success">Create Question</a>

  <a *ngIf="isUser()" mat-raised-button routerLink="/userchat" id="signup" color="success">Chat with Us!</a>
  <a *ngIf="isUser()" mat-raised-button routerLink="/search" id="signup" color="success">Search Question</a>

  <button *ngIf="isUser()" mat-raised-button id="signup" (click)="logOut()" color="success">Sign Out</button>
  <a *ngIf="isUser()" mat-raised-button routerLink="/home" id="home" color="success">{{storageService.getUser().username}}</a>
  <a mat-button routerLink="/home" *ngIf="!storageService.isLoggedIn()">
    <mat-icon>home
    </mat-icon>
    Home
  </a>
  <a *ngIf="!storageService.isLoggedIn()" mat-raised-button routerLink="/register" id="signup" color="success">Sign-Up</a>
  <a *ngIf="!storageService.isLoggedIn()" mat-raised-button routerLink="/login" id="login" color="success">Login</a>






</mat-toolbar>

<router-outlet></router-outlet>
